@import 'bootstrap/bootstrap';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';

$font-primary: 'Lato',Arial, sans-serif;
$primary: #f6f078;

@mixin gradient-background(){
	background: rgba(200,89,255,1);
	background: -moz-linear-gradient(45deg, rgba(200,89,255,1) 0%, rgba(255,171,140,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(200,89,255,1)), color-stop(100%, rgba(255,171,140,1)));
	background: -webkit-linear-gradient(45deg, rgba(200,89,255,1) 0%, rgba(255,171,140,1) 100%);
	background: -o-linear-gradient(45deg, rgba(200,89,255,1) 0%, rgba(255,171,140,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(200,89,255,1) 0%, rgba(255,171,140,1) 100%);
	background: linear-gradient(45deg, rgba(200,89,255,1) 0%, rgba(255,171,140,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c859ff', endColorstr='#ffab8c', GradientType=1 );
}

body{
	font-family: $font-primary;
	font-size: 16px;
	line-height: 1.8;
	font-weight: normal;
	background: #f8f9fd;
	color: lighten($black,50%);
	background: #c859ff;
}
a {
	transition: .3s all ease;
	color: $primary;
	&:hover, &:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none;
	}
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	font-weight: 400;
	font-family: $font-primary;
	color: $black;
}

.bg-primary{
	background: $primary !important;
}

.ftco-section{
	padding: 7em 0;
}

.ftco-no-pt{
	padding-top: 0;
}
.ftco-no-pb{
	padding-bottom: 0;
}
//HEADING SECTION
.heading-section{
	font-size: 28px;
	color: $white;
}

//COVER BG
.img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.login-wrap{
	position: relative;
	color: rgba(255,255,255,.9);
	h3{
		font-weight: 300;
		color: $white;
	}
	.social{
		width: 100%;
		a{
			width: 100%;
			display: block;
			border: 1px solid rgba(255,255,255,.4);
			color: $black;
			background: $white;
			&:hover{
				background: $black;
				color: $white;
				border-color: $black;
			}
		}
	}
}

//FORM CONTROL
.form-control{
	background: transparent;
	border: none;
	padding: 0;
	height: 40px;
	color: rgba(255,255,255,1) !important;
	border-bottom: 1px solid rgba(255,255,255,.2);
	border-radius: 0;
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: rgba(255,255,255,.8) !important;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: rgba(255,255,255,.8) !important;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: rgba(255,255,255,.8) !important;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: rgba(255,255,255,.8) !important;
	}
	&:hover, &:focus{
		background: transparent;
		outline: none;
		box-shadow: none;
	}
	&:focus{
		border-color: rgba(255,255,255,.4);
	}
}
textarea.form-control {
	height: inherit!important;
}




//CHECKBOX STYLE
.checkbox-wrap {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "\f0c8";
  font-family: "FontAwesome";
  position: absolute;
  color:rgba(255,255,255,.1);
  font-size: 20px;
  margin-top: -4px;
  @include transition(.3s);
}

/* Show the checkmark when checked */
.checkbox-wrap{
	input:checked ~ .checkmark:after {
	  display: block;
	  content: "\f14a";
	  font-family: "FontAwesome";
	  color: rgba(0,0,0,.2);
	}
}

/* Style the checkmark/indicator */
.checkbox-wrap .checkmark:after {
}


.checkbox-primary{
  color: $primary;
  input:checked ~ .checkmark:after {
	  color: $primary;
	}
}


//BUTTON
.btn {
	cursor: pointer;
	@include border-radius(40px);
	box-shadow: none!important;
	font-size: 15px;
	&:hover, &:active, &:focus {
		outline: none;
	}
	&.btn-primary {
		background: $primary !important;
		border: 1px solid $primary !important;
		color: $black !important;
		&:hover {
			border: 1px solid $primary;
			background: transparent;
			color :$primary;
		}
		&.btn-outline-primary {
			border: 1px solid $primary;
			background: transparent;
			color :$primary;
			&:hover {
				border: 1px solid transparent;
				background: $primary;
				color :$white;
			}
		}
	}
}

